WPSort/Web References/ru.boxberry.service/Account.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://service.boxberry.ru" xmlns:xsd2="Account" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.boxberry.ru" name="Account" targetNamespace="http://service.boxberry.ru" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs2="Account" xmlns:xs1="http://service.boxberry.ru" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.boxberry.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="Account" />
      <xs:complexType name="AdoptedPackage">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="AdoptedParcel" type="xs1:AdoptedParcel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdoptedParcel">
        <xs:sequence>
          <xs:element name="ID_Point" type="xs:string" />
          <xs:element name="BarCode" type="xs:string" />
          <xs:element name="Waybill" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayErrors">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Error" type="xs1:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayGoods">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1000" name="Goods" type="xs1:Good" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayGoodsOfOrder">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="GoodsOfOrder" type="xs1:GoodOfOrder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfCities">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Cities" type="xs1:City" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfCountries">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Countries" type="xs1:Country" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfIndIndex">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="IndIndices" type="xs1:IndIndex" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfInformationsIM">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="InformationsIM" type="xs1:InformationIM" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfNumbers">
        <xs:sequence>
          <xs:element name="Numbers" type="xs1:Numbers" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfNumbersType">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Numbers" type="xs1:NumbersType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfOrders">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Orders" type="xs1:Order" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPaymentOrders">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="PaymentOrders" type="xs1:PaymentOrder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPaymentsInfo">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="PaymentsInfo" type="xs1:PaymentInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPointCargoDescription">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="PointsCargo" type="xs1:PointCargoDescription" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPoints">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Points" type="xs1:Point" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPointsScheduleOfLoad">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="PointsScheduleOfLoad" type="xs1:PointScheduleOfLoad" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfResults">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Result" type="xs1:Result" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfServices">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Services" type="xs1:Service" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfShortPointDescription">
        <xs:sequence>
          <xs:element maxOccurs="10000" name="Points" type="xs1:ShortPointDescription" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfStatuses">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Statuses" type="xs1:Status" />
          <xs:element name="PD" type="xs:string" />
          <xs:element maxOccurs="1000" name="PDElements" type="xs1:PDElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfStatusesTracking">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="StatusesTracking" type="xs1:StatusesTracking" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfTarifs">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="InfoTarif" type="xs1:InfoTarif" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfTarifsAndServices">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="TarifsBaseIM" type="xs1:TarifBaseIM" />
          <xs:element maxOccurs="1000" name="TarifsExpressIM" type="xs1:TarifExpressIM" />
          <xs:element maxOccurs="1000" name="ServicesIM" type="xs1:ServiceIM" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfTarrifsCD">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Tarrif" type="xs1:TarrifCD" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZips">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Zips" type="xs1:Zip" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOrdersStatus">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="OrdersStatus" type="xs1:OrderStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArraySpecifications">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Specifications" type="xs1:Specification" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayWaybill">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="waybills" type="xs1:Waybill" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckRefundAfterIssuanceResult">
        <xs:sequence>
          <xs:element name="Result" type="xs:integer" />
          <xs:element name="ErrorText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckStatusOrder">
        <xs:sequence>
          <xs:element name="BarCode" type="xs:string" />
          <xs:element name="SignReturn" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckStatusOrderArray">
        <xs:sequence>
          <xs:element maxOccurs="50000" name="OrderArray" type="xs1:CheckStatusOrder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckStatusOrderResult">
        <xs:sequence>
          <xs:element name="Result" type="xs:integer" />
          <xs:element name="BarCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckStatusOrderResultArray">
        <xs:sequence>
          <xs:element maxOccurs="50000" name="OrderResultArray" type="xs1:CheckStatusOrderResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="City">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Code" type="xs:string" />
          <xs:element name="CountryCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Country">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="NameRussian" type="xs:string" />
          <xs:element name="NameEnglish" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateRefundAfterIssuanceResult">
        <xs:sequence>
          <xs:element name="Result" type="xs:boolean" />
          <xs:element name="ErrorText" type="xs:string" />
          <xs:element name="Label" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryCost">
        <xs:sequence>
          <xs:element name="PriceBase" type="xs:string" />
          <xs:element name="PriceService" type="xs:string" />
          <xs:element name="DeliveryPeriod" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Detail">
        <xs:sequence>
          <xs:element name="ID" type="xs:string" />
          <xs:element name="Number" type="xs:string" />
          <xs:element name="Sum" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element name="BarCode" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Foto">
        <xs:sequence>
          <xs:element name="Foto" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Good">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Summ" type="xs:float" />
          <xs:element name="Ammount" type="xs:string" />
          <xs:element name="RowID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GoodOfOrder">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Sum" type="xs:double" />
          <xs:element name="Amount" type="xs:integer" />
          <xs:element name="Price" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IndIndex">
        <xs:sequence>
          <xs:element name="Zip" type="xs:integer" />
          <xs:element name="ZoneExpressDelivery" type="xs:integer" />
          <xs:element name="City" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InfoTarif">
        <xs:sequence>
          <xs:element name="Start" type="xs:string" />
          <xs:element name="Stop" type="xs:string" />
          <xs:element name="Step" type="xs:string" />
          <xs:element name="Summ" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InformationIM">
        <xs:sequence>
          <xs:element name="INN" type="xs:string" />
          <xs:element name="KPP" type="xs:string" />
          <xs:element name="NameDogovor" type="xs:string" />
          <xs:element name="NameFull" type="xs:string" />
          <xs:element name="ResponsiblePerson" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IssuancePackage">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="IssuanceParcel" type="xs1:IssuanceParcel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IssuanceParcel">
        <xs:sequence>
          <xs:element name="ID_Point" type="xs:string" />
          <xs:element name="BarCode" type="xs:string" />
          <xs:element name="Summ" type="xs:string" />
          <xs:element name="PaymentType" type="xs:int" />
          <xs:element name="ArrayGoods" type="xs1:ArrayGoods" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoadMeasurementResult">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:string" />
          <xs:element name="PusherNumber" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewArrayOfServices">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="NewServices" type="xs1:NewServices" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewArrayOfStatuses">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="NewStatuses" type="xs1:NewStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewServices">
        <xs:sequence>
          <xs:element name="ID" type="xs:string" />
          <xs:element name="IM" type="xs:string" />
          <xs:element maxOccurs="1000" name="Service" type="xs1:Service" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewStatus">
        <xs:sequence>
          <xs:element name="ID" type="xs:string" />
          <xs:element name="IM" type="xs:string" />
          <xs:element name="sum" type="xs:string" />
          <xs:element name="PaymentMethod" type="xs:integer" />
          <xs:element maxOccurs="1000" name="Statuses" type="xs1:Status" />
          <xs:element name="PD" type="xs:string" />
          <xs:element maxOccurs="1000" name="PDElements" type="xs1:PDElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Numbers">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Number" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NumbersType">
        <xs:sequence>
          <xs:element name="Number" type="xs:string" />
          <xs:element name="Type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Order">
        <xs:sequence>
          <xs:element name="ID" type="xs:string" />
          <xs:element name="IM" type="xs:string" />
          <xs:element name="ImCountry" nillable="true" type="xs:string" />
          <xs:element name="TypeOfDelivery" nillable="true" type="xs:string" />
          <xs:element name="DeliveryAddress" nillable="true" type="xs:string" />
          <xs:element name="GoodsOfOrder" nillable="true" type="xs1:ArrayGoodsOfOrder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderStatus">
        <xs:sequence>
          <xs:element name="Date" type="xs:dateTime" />
          <xs:element name="InternalNumber" type="xs:string" />
          <xs:element name="ID" type="xs:string" />
          <xs:element name="DateStorage" type="xs:dateTime" />
          <xs:element name="PaymentSum" type="xs:integer" />
          <xs:element name="InsuranceSum" type="xs:integer" />
          <xs:element name="DeliverySum" type="xs:integer" />
          <xs:element name="OrderStatus" type="xs:string" />
          <xs:element name="DateStatus" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PDElement">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Give" type="xs:string" />
          <xs:element name="Return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentInfo">
        <xs:sequence>
          <xs:element name="Accepted" type="xs:boolean" />
          <xs:element name="VidPlat" type="xs:string" />
          <xs:element name="Date" type="xs:date" />
          <xs:element name="Sum" type="xs:decimal" />
          <xs:element name="AcqUIN" type="xs:string" />
          <xs:element name="AcqIIN" type="xs:string" />
          <xs:element name="AcqKPP" type="xs:string" />
          <xs:element name="AcqName" type="xs:string" />
          <xs:element name="AcqNameF" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentOrder">
        <xs:sequence>
          <xs:element name="Date" type="xs:string" />
          <xs:element name="Number" type="xs:string" />
          <xs:element name="Sum" type="xs:string" />
          <xs:element maxOccurs="1000" name="Details" type="xs1:Detail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Photo">
        <xs:sequence>
          <xs:element name="Photo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Point">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Address" type="xs:string" />
          <xs:element name="Street" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element name="Metro" type="xs:string" />
          <xs:element name="WorkShedule" type="xs:string" />
          <xs:element name="TripDescription" type="xs:string" />
          <xs:element name="DeliveryPeriod" type="xs:string" />
          <xs:element name="CityCode" type="xs:string" />
          <xs:element name="CityName" type="xs:string" />
          <xs:element name="TariffZone" type="xs:string" />
          <xs:element name="Settlement" type="xs:string" />
          <xs:element name="Area" nillable="true" type="xs:string" />
          <xs:element name="Country" type="xs:string" />
          <xs:element name="GPS" type="xs:string" />
          <xs:element name="ForeignOnlineStores" type="xs:string" />
          <xs:element name="OnlyPrepaidOrders" type="xs:string" />
          <xs:element name="AddressReduce" type="xs:string" />
          <xs:element name="Acquiring" type="xs:boolean" />
          <xs:element name="DigitalSignature" type="xs:string" />
          <xs:element name="NoPostoplataReception" type="xs:string" />
          <xs:element name="TypeOfOffice" type="xs:string" />
          <xs:element name="NalKD" type="xs:string" />
          <xs:element name="CourierDelivery" type="xs:boolean" />
          <xs:element name="ReceptionLaP" type="xs:boolean" />
          <xs:element name="DeliveryLaP" type="xs:boolean" />
          <xs:element name="TipGruzopodyemnostiOtdeleniya" type="xs:string" />
          <xs:element name="EnablePartialDelivery" type="xs:boolean" />
          <xs:element name="EnableFitting" type="xs:boolean" />
          <xs:element name="Zip" type="xs:integer" />
          <xs:element name="IDKLADR" type="xs:string" />
          <xs:element maxOccurs="1000" name="Fotos" type="xs1:Foto" />
          <xs:element name="House" type="xs:string" />
          <xs:element name="Structure" type="xs:string" />
          <xs:element name="Housing" type="xs:string" />
          <xs:element name="Apartment" type="xs:string" />
          <xs:element name="WorkMoBegin" type="xs:string" />
          <xs:element name="WorkMoEnd" type="xs:string" />
          <xs:element name="WorkTuBegin" type="xs:string" />
          <xs:element name="WorkTuEnd" type="xs:string" />
          <xs:element name="WorkWeBegin" type="xs:string" />
          <xs:element name="WorkWeEnd" type="xs:string" />
          <xs:element name="WorkThBegin" type="xs:string" />
          <xs:element name="WorkThEnd" type="xs:string" />
          <xs:element name="WorkFrBegin" type="xs:string" />
          <xs:element name="WorkFrEnd" type="xs:string" />
          <xs:element name="WorkSaBegin" type="xs:string" />
          <xs:element name="WorkSaEnd" type="xs:string" />
          <xs:element name="WorkSuBegin" type="xs:string" />
          <xs:element name="WorkSuEnd" type="xs:string" />
          <xs:element name="LunchMoBegin" type="xs:string" />
          <xs:element name="LunchMoEnd" type="xs:string" />
          <xs:element name="LunchTuBegin" type="xs:string" />
          <xs:element name="LunchTuEnd" type="xs:string" />
          <xs:element name="LunchWeBegin" type="xs:string" />
          <xs:element name="LunchWeEnd" type="xs:string" />
          <xs:element name="LunchThBegin" type="xs:string" />
          <xs:element name="LunchThEnd" type="xs:string" />
          <xs:element name="LunchFrBegin" type="xs:string" />
          <xs:element name="LunchFrEnd" type="xs:string" />
          <xs:element name="LunchSaBegin" type="xs:string" />
          <xs:element name="LunchSaEnd" type="xs:string" />
          <xs:element name="LunchSuBegin" type="xs:string" />
          <xs:element name="LunchSuEnd" type="xs:string" />
          <xs:element name="CountryCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PointCargoDescription">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Address" type="xs:string" />
          <xs:element name="ContactName" type="xs:string" />
          <xs:element name="ContactPhone" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PointDescription">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Organization" type="xs:string" />
          <xs:element name="ZipCode" type="xs:string" />
          <xs:element name="Country" type="xs:string" />
          <xs:element name="Area" nillable="true" type="xs:string" />
          <xs:element name="CityCode" type="xs:string" />
          <xs:element name="CityName" type="xs:string" />
          <xs:element name="Settlement" type="xs:string" />
          <xs:element name="Metro" type="xs:string" />
          <xs:element name="Street" type="xs:string" />
          <xs:element name="House" type="xs:string" />
          <xs:element name="Structure" type="xs:string" />
          <xs:element name="Housing" type="xs:string" />
          <xs:element name="Apartment" type="xs:string" />
          <xs:element name="Address" type="xs:string" />
          <xs:element name="AddressInfo" type="xs:string" />
          <xs:element name="AddressReduce" type="xs:string" />
          <xs:element name="GPS" type="xs:string" />
          <xs:element name="TripDescription" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element name="ForeignOnlineStoresOnly" type="xs:boolean" />
          <xs:element name="PrepaidOrdersOnly" type="xs:boolean" />
          <xs:element name="Acquiring" type="xs:boolean" />
          <xs:element name="DigitalSignature" type="xs:boolean" />
          <xs:element name="TypeOfOffice" type="xs:byte" />
          <xs:element name="CourierDelivery" type="xs:boolean" />
          <xs:element name="ReceptionLaP" type="xs:boolean" />
          <xs:element name="DeliveryLaP" type="xs:boolean" />
          <xs:element name="LoadLimit" type="xs:double" />
          <xs:element name="VolumeLimit" type="xs:double" />
          <xs:element name="EnablePartialDelivery" type="xs:boolean" />
          <xs:element name="EnableFitting" type="xs:boolean" />
          <xs:element name="IssuanceBoxberry" type="xs:boolean" />
          <xs:element name="WorkShedule" type="xs:string" />
          <xs:element name="WorkMoBegin" type="xs:string" />
          <xs:element name="WorkMoEnd" type="xs:string" />
          <xs:element name="WorkTuBegin" type="xs:string" />
          <xs:element name="WorkTuEnd" type="xs:string" />
          <xs:element name="WorkWeBegin" type="xs:string" />
          <xs:element name="WorkWeEnd" type="xs:string" />
          <xs:element name="WorkThBegin" type="xs:string" />
          <xs:element name="WorkThEnd" type="xs:string" />
          <xs:element name="WorkFrBegin" type="xs:string" />
          <xs:element name="WorkFrEnd" type="xs:string" />
          <xs:element name="WorkSaBegin" type="xs:string" />
          <xs:element name="WorkSaEnd" type="xs:string" />
          <xs:element name="WorkSuBegin" type="xs:string" />
          <xs:element name="WorkSuEnd" type="xs:string" />
          <xs:element name="LunchMoBegin" type="xs:string" />
          <xs:element name="LunchMoEnd" type="xs:string" />
          <xs:element name="LunchTuBegin" type="xs:string" />
          <xs:element name="LunchTuEnd" type="xs:string" />
          <xs:element name="LunchWeBegin" type="xs:string" />
          <xs:element name="LunchWeEnd" type="xs:string" />
          <xs:element name="LunchThBegin" type="xs:string" />
          <xs:element name="LunchThEnd" type="xs:string" />
          <xs:element name="LunchFrBegin" type="xs:string" />
          <xs:element name="LunchFrEnd" type="xs:string" />
          <xs:element name="LunchSaBegin" type="xs:string" />
          <xs:element name="LunchSaEnd" type="xs:string" />
          <xs:element name="LunchSuBegin" type="xs:string" />
          <xs:element name="LunchSuEnd" type="xs:string" />
          <xs:element maxOccurs="1000" name="Photos" type="xs1:Photo" />
          <xs:element name="TerminalCode" type="xs:string" />
          <xs:element name="TerminalName" type="xs:string" />
          <xs:element name="TerminalOrganization" type="xs:string" />
          <xs:element name="TerminalCityCode" type="xs:string" />
          <xs:element name="TerminalCityName" type="xs:string" />
          <xs:element name="TerminalAddress" type="xs:string" />
          <xs:element name="TerminalPhone" type="xs:string" />
          <xs:element name="Reception" type="xs:boolean" />
          <xs:element name="Closed" type="xs:boolean" />
          <xs:element name="TariffZone" type="xs:string" />
          <xs:element name="DeliveryPeriod" type="xs:string" />
          <xs:element name="CountryCode" type="xs:string" />
          <xs:element name="PickUpCourierDelivery" type="xs:boolean" />
          <xs:element name="Terminal" type="xs:boolean" />
          <xs:element name="InThePersonOf" type="xs:string" />
          <xs:element name="Based" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PointScheduleOfLoad">
        <xs:sequence>
          <xs:element name="PointName" type="xs:string" />
          <xs:element name="PointCode" type="xs:string" />
          <xs:element maxOccurs="1000" name="ScheduleOfLoad" type="xs1:ScheduleOfLoad" />
          <xs:element name="CountryCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecipientCitiesParams">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="RecipientCityParam" type="xs1:RecipientCityParam" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecipientCityParam">
        <xs:sequence>
          <xs:element name="TarrifZone" type="xs:string" />
          <xs:element name="RecipientCity" type="xs1:City" />
          <xs:element name="DeliveryPeriodPoD" type="xs:string" />
          <xs:element name="DeliveryPeriodCD" type="xs:string" />
          <xs:element name="PricePoD" type="xs:string" />
          <xs:element name="PriceCD" type="xs:string" />
          <xs:element name="PriceAfter2kg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RefundPackage">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="RefundParcel" type="xs1:RefundParcel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RefundParcel">
        <xs:sequence>
          <xs:element name="ID_Point" type="xs:string" />
          <xs:element name="BarCode" type="xs:string" />
          <xs:element name="ReturnType" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Result">
        <xs:sequence>
          <xs:element name="api_id" type="xs:string" />
          <xs:element name="load" type="xs:integer" />
          <xs:element name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultProcedures">
        <xs:sequence>
          <xs:element name="Result" type="xs:boolean" />
          <xs:element name="DescriptionRus" type="xs:string" />
          <xs:element name="DescriptionEng" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ScheduleOfLoad">
        <xs:sequence>
          <xs:element name="DayOfWeek" type="xs:string" />
          <xs:element maxOccurs="1000" name="ScheduleOfLoadDay" type="xs1:ScheduleOfLoadDay" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ScheduleOfLoadDay">
        <xs:sequence>
          <xs:element name="Hour" type="xs:string" />
          <xs:element name="Load" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Service">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Sum" type="xs:string" />
          <xs:element name="Date" type="xs:string" />
          <xs:element name="ServiceCodeOrder" type="xs:string" />
          <xs:element name="PaymentMethod" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceIM">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Sum" type="xs:string" />
          <xs:element name="Percent" type="xs:string" />
          <xs:element name="CostLimit" type="xs:string" />
          <xs:element name="Kod" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShopDescription">
        <xs:sequence>
          <xs:element name="Name_IM" nillable="true" type="xs:string" />
          <xs:element name="Full_Name_IM" nillable="true" type="xs:string" />
          <xs:element name="INN_IM" nillable="true" type="xs:string" />
          <xs:element name="KPP_IM" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShortPointDescription">
        <xs:sequence>
          <xs:element name="CityCode" type="xs:integer" />
          <xs:element name="Code" type="xs:string" />
          <xs:element name="UpdateDate" nillable="true" type="xs:dateTime" />
          <xs:element name="Reception" type="xs:boolean" />
          <xs:element name="IssuanceBoxberry" type="xs:boolean" />
          <xs:element name="CountryCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Specification">
        <xs:sequence>
          <xs:element name="GUID" type="xs:string" />
          <xs:element name="Amount" type="xs:string" />
          <xs:element name="Price" type="xs:string" />
          <xs:element name="Summ" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Status">
        <xs:sequence>
          <xs:element name="Date" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Comment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StatusTracking">
        <xs:sequence>
          <xs:element name="Status" type="xs:string" />
          <xs:element name="StatusTracking" type="xs:string" />
          <xs:element name="ShowSite" type="xs:string" />
          <xs:element name="Date" type="xs:string" />
          <xs:element name="Comment" type="xs:string" />
          <xs:element name="NumberStatus" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StatusesTracking">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Statuses" type="xs1:StatusTracking" />
          <xs:element name="ID" type="xs:string" />
          <xs:element name="IM" type="xs:string" />
          <xs:element name="NameIM" type="xs:string" />
          <xs:element name="DeliveryAddress" type="xs:string" />
          <xs:element name="CityDelivery" type="xs:string" />
          <xs:element name="Weight" type="xs:string" />
          <xs:element name="RouteMap" type="xs:string" />
          <xs:element name="ContactPhone" type="xs:string" />
          <xs:element name="ProgramNumber" type="xs:string" />
          <xs:element name="TypeDelivery" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TarifBaseIM">
        <xs:sequence>
          <xs:element name="TarifZone" type="xs:string" />
          <xs:element name="Tarif" type="xs:string" />
          <xs:element maxOccurs="1000" name="TarifInfo" type="xs1:ArrayOfTarifs" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TarifExpressIM">
        <xs:sequence>
          <xs:element name="TarifZone" type="xs:string" />
          <xs:element name="Tarif" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TarrifCD">
        <xs:sequence>
          <xs:element name="SenderCity" type="xs1:City" />
          <xs:element name="RecipientCitiesParams" type="xs1:RecipientCitiesParams" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Ticket">
        <xs:sequence>
          <xs:element name="Number" type="xs:integer" />
          <xs:element name="ErrorText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Waybill">
        <xs:sequence>
          <xs:element name="NumebrDoc" type="xs:string" />
          <xs:element name="ID_IM" type="xs:string" />
          <xs:element name="ID_Boxberry" type="xs:string" />
          <xs:element name="Point_RF" type="xs:string" />
          <xs:element name="Name_Recipient" type="xs:string" />
          <xs:element name="Phone_Recipient" type="xs:string" />
          <xs:element name="Doc_Recipient" type="xs:string" />
          <xs:element name="Cash_Type" type="xs:string" />
          <xs:element name="Weight" type="xs:string" />
          <xs:element name="Summ" type="xs:string" />
          <xs:element name="SummDelivery" type="xs:string" />
          <xs:element name="Seats" type="xs:string" />
          <xs:element name="Partly_issuance" type="xs:string" />
          <xs:element maxOccurs="1000" name="Goods" type="xs1:ArrayGoods" />
          <xs:element name="Text_Waybill" type="xs:string" />
          <xs:element name="StorageLife" type="xs:string" />
          <xs:element name="Num_Waybill" type="xs:string" />
          <xs:element name="IMCode" type="xs:string" />
          <xs:element name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefundFlow" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryAddress" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Zip">
        <xs:sequence>
          <xs:element name="Zip" type="xs:integer" />
          <xs:element name="City" type="xs:string" />
          <xs:element name="Region" type="xs:string" />
          <xs:element name="Area" type="xs:string" />
          <xs:element name="ZoneExpressDelivery" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZipChecks">
        <xs:sequence>
          <xs:element name="ExpressDelivery" type="xs:boolean" />
          <xs:element name="ZoneExpressDelivery" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Requisites">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="inn" type="xs:string" />
            <xs:element name="kpp" nillable="true" type="xs:string" />
            <xs:element name="r_s" type="xs:string" />
            <xs:element name="bank" type="xs:string" />
            <xs:element name="kor_s" type="xs:string" />
            <xs:element name="bik" type="xs:string" />
            <xs:element name="phone" type="xs:string" />
            <xs:element name="email" nillable="true" type="xs:string" />
            <xs:element name="token" type="xs:string" />
            <xs:element name="City_Recipient" type="xs:string" />
            <xs:element name="Point_Recipient" type="xs:string" />
            <xs:element name="fio" type="xs:string" />
            <xs:element name="Categorie" type="xs:integer" />
            <xs:element name="Website" type="xs:string" />
            <xs:element name="PostCode" type="xs:string" />
            <xs:element name="City" type="xs:string" />
            <xs:element name="Street" type="xs:string" />
            <xs:element name="House" type="xs:string" />
            <xs:element name="Building" nillable="true" type="xs:string" />
            <xs:element name="Housing" nillable="true" type="xs:string" />
            <xs:element name="NameOfHead" type="xs:string" />
            <xs:element name="PositionOfHead" type="xs:string" />
            <xs:element name="FoundationOfHead" type="xs:string" />
            <xs:element name="СontactNumber" nillable="true" type="xs:string" />
            <xs:element name="PromoCode" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RequisitesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs2:Results" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServicesBoxberry">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ArrayServicesBoxberry" type="xs2:ArrayServicesBoxberry" />
            <xs:element name="id" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServicesBoxberryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs2:Results" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListCategories">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ListCategoriesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs2:ArrayCategories" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CheckAPI">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="CheckAPIResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="Account" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="AddressValue">
        <xs:sequence>
          <xs:element name="index" />
          <xs:element maxOccurs="1000" name="city" />
          <xs:element maxOccurs="1000" name="street" />
          <xs:element maxOccurs="1000" name="house" />
          <xs:element maxOccurs="1000" name="housing" />
          <xs:element maxOccurs="1000" name="apartment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayCategories">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Categories" type="tns:Categorie" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfAddress">
        <xs:sequence>
          <xs:element name="AddressValue" type="tns:AddressValue" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfItems">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Items" type="tns:Iitems" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfRequisites">
        <xs:sequence>
          <xs:element name="AddressDeliveryPoint" type="xs:string" />
          <xs:element name="City" type="xs:string" />
          <xs:element name="CodeDelivery" type="xs:string" />
          <xs:element name="Organization" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element name="TerminalAddress" type="xs:string" />
          <xs:element name="TerminalOrganization" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfSettings">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="Setting" type="tns:Setting" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWeights">
        <xs:sequence>
          <xs:element maxOccurs="5" name="weights" nillable="true" type="tns:Weight" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayServicesBoxberry">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="ServicesBoxberry" type="tns:ServicesBoxberry" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Categorie">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Kod" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Iitems">
        <xs:sequence>
          <xs:element name="id" />
          <xs:element name="name" />
          <xs:element name="UnitName" />
          <xs:element name="nds" />
          <xs:element name="price" />
          <xs:element name="quantity" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Results">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="value" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServicesBoxberry">
        <xs:sequence>
          <xs:element name="Service" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Setting">
        <xs:sequence>
          <xs:element name="requisite" />
          <xs:element name="value" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TableOfValues">
        <xs:sequence>
          <xs:element name="Value" type="tns:Value" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Value">
        <xs:sequence>
          <xs:element maxOccurs="1000" name="name" />
          <xs:element maxOccurs="1000" name="number" />
          <xs:element maxOccurs="1000" name="price" />
          <xs:element maxOccurs="1000" name="sum" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Weight">
        <xs:sequence>
          <xs:element name="weight" nillable="true" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="RequisitesRequestMessage">
    <part name="parameters" element="tns:Requisites" />
  </message>
  <message name="RequisitesResponseMessage">
    <part name="parameters" element="tns:RequisitesResponse" />
  </message>
  <message name="ServicesBoxberryRequestMessage">
    <part name="parameters" element="tns:ServicesBoxberry" />
  </message>
  <message name="ServicesBoxberryResponseMessage">
    <part name="parameters" element="tns:ServicesBoxberryResponse" />
  </message>
  <message name="ListCategoriesRequestMessage">
    <part name="parameters" element="tns:ListCategories" />
  </message>
  <message name="ListCategoriesResponseMessage">
    <part name="parameters" element="tns:ListCategoriesResponse" />
  </message>
  <message name="CheckAPIRequestMessage">
    <part name="parameters" element="tns:CheckAPI" />
  </message>
  <message name="CheckAPIResponseMessage">
    <part name="parameters" element="tns:CheckAPIResponse" />
  </message>
  <portType name="AccountPortType">
    <operation name="Requisites">
      <input message="tns:RequisitesRequestMessage" />
      <output message="tns:RequisitesResponseMessage" />
    </operation>
    <operation name="ServicesBoxberry">
      <input message="tns:ServicesBoxberryRequestMessage" />
      <output message="tns:ServicesBoxberryResponseMessage" />
    </operation>
    <operation name="ListCategories">
      <input message="tns:ListCategoriesRequestMessage" />
      <output message="tns:ListCategoriesResponseMessage" />
    </operation>
    <operation name="CheckAPI">
      <input message="tns:CheckAPIRequestMessage" />
      <output message="tns:CheckAPIResponseMessage" />
    </operation>
  </portType>
  <binding name="AccountSoapBinding" type="tns:AccountPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Requisites">
      <soapbind:operation soapAction="http://service.boxberry.ru#Account:Requisites" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ServicesBoxberry">
      <soapbind:operation soapAction="http://service.boxberry.ru#Account:ServicesBoxberry" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="ListCategories">
      <soapbind:operation soapAction="http://service.boxberry.ru#Account:ListCategories" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="CheckAPI">
      <soapbind:operation soapAction="http://service.boxberry.ru#Account:CheckAPI" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="AccountSoap12Binding" type="tns:AccountPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Requisites">
      <soap12bind:operation soapAction="http://service.boxberry.ru#Account:Requisites" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ServicesBoxberry">
      <soap12bind:operation soapAction="http://service.boxberry.ru#Account:ServicesBoxberry" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="ListCategories">
      <soap12bind:operation soapAction="http://service.boxberry.ru#Account:ListCategories" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="CheckAPI">
      <soap12bind:operation soapAction="http://service.boxberry.ru#Account:CheckAPI" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Account">
    <port name="AccountSoap" binding="tns:AccountSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://service.boxberry.ru:8088/ls/ws/Account.1cws" />
    </port>
    <port name="AccountSoap12" binding="tns:AccountSoap12Binding">
      <soap12bind:address location="http://service.boxberry.ru:8088/ls/ws/Account.1cws" />
    </port>
  </service>
</definitions>